body{
	font-family: sans-serif;
	background: black;
	color: white;
}
body.white{
	background: white;
	color: black;
}
.white #arrowsbutton {
	background: black;
}

i{
	color: inherit;
	text-rendering: auto !important;
}

#wrapper{
	width: 100%;
}

#pause{
	display: block;
	margin: 0px auto;
	width: 69px;
}

#arrowup,
#arrowdown {
	display: block;
	margin: 0px auto;
	font-size: 10em;
	line-height: 55px;
}

#arrowup{
	margin-bottom: 5px;
	
}

#arrowdown{
	z-index: -100;
	overflow: hidden;
}

#arrowleft,
#arrowright{
	font-size: 10em;	
	line-height: 100px;
}

#arrowsmidle {
	width: auto;
	/*margin: -30px auto -35px auto;*/
	margin: 0px auto;
	display : table;
}

#arrowsbutton{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 10px 15px 5px 15px;
	background: #fff;
	display: inline-block;
	
}

#volume{
	display: inline;
	width: 60%;
	margin: 10px;
}

.quality {
	width: 45px;
	line-height: 45px;
	position: relative;
	top: 5px;
	display: inline-block;
	text-align: center;
	border-radius: 27px;
	font-size: 27px;
	border: 5px solid;
	font-family: sans-serif;
	font-weight: bold;
}

.section{
	width: auto;
	text-align: center;
	display: table;
	margin: 0px auto;
	padding: 10px 0px;
}

#wrapper > .section {
	display: none;
}

.button{
	font-size: 20px;
	padding: 5px;
	font-family: sans-serif;
	border: 4px solid #000;
	white-space: nowrap;
}

.button:first-child{
	margin-right: 10px;
}

.section#settings{
	display: block;
}

#settingscog {
	float: right;
	position: absolute;
	display: none;
	bottom: 0px;
	right: 3px;
}

#settingsback {
	float: left;
	position: absolute;
	bottom: 0px;
	left: 3px;
}
